html{
    color: rgb(50,50,23);
}
body{
    margin:0;
    padding:0;
    font-family: 'Roboto',serif;
    font-size: 16px;
    color:#777777
}

h1,h2{
    font: size 50px;
    
}

a{
    text-decoration: none;
}

#navbar{
    padding: 8px;
    margin:0;
}

#banner{
    object-fit: cover;
}

h1{
    text-align: center;
    color: darkblue;
    
}
        
#banner{
    width:100%;
}

#about{
    display: flex;
    max-width: 800px;
    margin:0 auto;
    padding-right:8px;
}

#description{
    width: 50%;
    padding: 8px;  
}

#team{
    width: 50%;
}

#team-image{
    border-radius: 5px;
    height:100%;
}

#jobs-data{
    width: 100%;
    border: 1px solid grey;
    border-collapse: collapse;

}

.jobs-header-row th{
    border: 2px solid gray;
    padding: 4px;
    background-color: blue;
    
}

.jobs-data-row td{
    border:1px solid grey;
    padding: 4px;

}

.location{
    color: gray;
    margin-bottom: 14px;
    width: 0;
    
    
}

h2{
    text-align:center;
    color: black;
}

.form-group{
    margin: 2px;
}

#application{
    max-width: 800px;
    margin: 0 auto;
    padding:0 2px;
}

#application-form label{
    font-weight:300;
}

#application-form input,select,textarea{
    padding:2px;
    font-size: 0.9rem;
    margin-top: 2px;
    border-radius: 5px;
    border: 1px solid grey;
}

.form-group textarea{
    width:60%;
    font-family: 'Roboto',sans-serif;
}

.form-group input[type="checkbox"]{
    width: 16px;
    height: 16px;
}

.form-group input[type="submit"]{
    background-color: blue;
    color: white;
}

#jobs{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;
    
}

#h3{
    margin-bottom: 0%;
    margin-top: 0%;
}

.apply{
    float:right;
}

#footer{
    background-color: ghostwhite;
    padding: 8px;
    margin-top: 32px;
    text-align: center;
    
}

#footer-links{
    list-style: none;
    margin: 0 16px;
}

#footer-links li{
    display:inline
    
}
.copy-right{
    color: gray;
}



